<?xml version="1.0" encoding="utf-8"?>
<manifest package="se.rickylagerkvist.owni"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/owni_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="People"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.loginAndCreateUser.LoginActivity"
            android:label="Owni"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.loginAndCreateUser.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.rickylagerkvist.owni.ui.loginAndCreateUser.LoginActivity"/>
        </activity>
        <activity
            android:name=".ui.PeopleCardItemActivity.PeopleCardItemActivity"
            android:label="@string/title_activity_people_card_item"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.rickylagerkvist.owni.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.ActivityFragment.AvtivitiesCardItemActivity"
            android:label="@string/title_activity_avtivities_card_item"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.rickylagerkvist.owni.ui.MainActivity"/>
        </activity>
        <activity android:name=".ui.StartCheckLogIfLogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>